.carousel-image-1 {
    background: url('../../assets/image-1.jpg');
    background-size: cover;
  }
  .carousel-image-2 {
    background: url('../../assets/image-2.jpg');
    background-size: cover;
  }
  
  .carousel-image-3 {
    background: url('../../assets/image-3.jpg');
    background-size: cover;
  }